<h1 mat-dialog-title>Dog Details</h1>

<mat-dialog-content>

  <div style="width: 100%;">
    <mat-horizontal-stepper [linear]="isLinear">
      <mat-step [stepControl]="firstFormGroup">

      </mat-step>
      <mat-step [stepControl]="secondFormGroup">

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <app-dog-form></app-dog-form>
  </div>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onCreateNewClick()">create</button>
  <button mat-raised-button (click)="onNoClick()">cancel</button>
</mat-dialog-actions>





