

.test{border: solid 1px black}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  background-color: lightblue;
  height: 60px;
  text-align: center;
  padding-top: 20px;
}
.router-container {
  padding-top: 60px;
}
