


/*.header {
  background-color: #3f51b5; height: 50px; width: 100%; display: flex; padding-left: 22px; padding-top:14px;
  border-bottom: 1px solid black; color: white; padding-right: 22px;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #3f51b5;
  height: 40px;
  text-align: center;

}
.router-container {
  margin: 0; padding: 0; outline: 0;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  height: 100%;
  width:100%;
}

.nav-title-left {
  float: left; width: 300px; font-size: 20px;
}

.nav-login-right {
  float: right;  text-align: right; font-size: 15px;
}
.nav-login-right-text:hover {
  color: red; cursor: pointer;  text-decoration: underline;
}

.nav-menu-center {
  margin:0 auto; width: 400px; font-size: 15px;
}

nav a {
  padding-left:15px; color: white;
}


nav a:hover {
  color: red;
}

.loginbutton {

}


*/

