<div  fxLayout="column" fxLayout.xs="column" style="width: 100%; height: 100%">
  <div class ="header">
    <nav>
      <a routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin">Admin Ansicht</a>
      <a routerLink="/racing" routerLinkActive="active">Rennen</a>
      <a routerLink="/coursing" routerLinkActive="active">Coursing</a>
      <a routerLink="/exhibition" routerLinkActive="active">Ausstellung</a>

    </nav>



  </div>




  <div class="router-container">
    <router-outlet ></router-outlet>
  </div>

  <div class="footer"> <button mat-raised-button color="primary" style="float:left;" (click)="onAdminLoginClick()">Admin Login</button>  </div>

</div>
<!--<div class="test">
<app-dog-form></app-dog-form>
</div>-->




