<div  fxLayout="column" fxLayout.xs="column" style="width: 100%;">
  <div class ="header">
    <nav>
      <a routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin" style="padding-right:15px; color: white;font-size: 20px;">Admin Ansicht</a>
      <a routerLink="/racing" routerLinkActive="active" style="padding-right:15px; color: white;font-size: 20px;">Rennen</a>
      <a routerLink="/coursing" routerLinkActive="active" style="padding-right:15px; color: white;font-size: 20px;">Coursing</a>
      <a routerLink="/exhibition" routerLinkActive="active" style="padding-right:15px; color: white;font-size: 20px;">Ausstellung</a>

    </nav>


  </div>

  <div class="router-container">
    <router-outlet ></router-outlet>
  </div>

  <div class="footer"> <button mat-raised-button color="primary" style="float:left;" (click)="authenticate()">Admin Login</button>  </div>

</div>
<!--<div class="test">
<app-dog-form></app-dog-form>
</div>-->




