
.header {
  background-color: #3f51b5; height: 50px; width: 100%; display: flex; padding-left: 22px; padding-top:14px;
  border-bottom: 1px solid black; font-size: 20px; color: white;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #3f51b5;
  height: 60px;
  text-align: center;
  /*padding-top: 20px;*/

}
.router-container {
  margin: 0; padding: 0; outline: 0;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  bottom: 60px;
  width:100%;
}

nav a {
  padding-left:15px; color: white;font-size: 18px;
}

/* Change the link color on hover */
nav a:hover {
  color: red;
}


