<nav class="nav-race">
  <div class="nav nav-tabs" id="nav-tab-race" role="tablist">

    <a class="nav-item nav-link" id="afghane" data-toggle="tab" href="#nav-home" role="tab">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="azawakh" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="barsoi" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="chart-polski" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="deerhound" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="galgo" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="greyhound" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="irish_wolfshound" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="it_windspiel" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="magyar" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="saluki" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="windsprite" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="sloughi" data-toggle="tab" href="#nav-home" role="tab">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab">
      <img style="max-width:40px; max-height: 40px;" [src]="whippetImgColored" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

  </div>
</nav>

<mat-tab-group #tabGroup color="primary" (selectedTabChange)="onTabSwitch($event)">

  <mat-tab label="ToDo">
  </mat-tab>


</mat-tab-group>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Platz</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="punkte">
      <mat-header-cell *matHeaderCellDef> Punkte</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.punkte}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="bis">
      <mat-header-cell *matHeaderCellDef> BIS</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bis}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="bob">
      <mat-header-cell *matHeaderCellDef> BOB</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bob}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="konkurrenz">
      <mat-header-cell *matHeaderCellDef> Konkurrenz</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.konkurrenz}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="anzahl">
      <mat-header-cell *matHeaderCellDef> Anzahl</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.anzahl}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>


