/* Structure */
.example-container {
  margin: auto; /* Den Container zusätzlich zentrieren */
  /*position: fixed;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  margin-top: 56px;
  /*top: 56px;
  bottom: 0px;*/

}



.mat-table {
  width: 100%;
}

.content{
  overflow: auto;
  max-height: 500px;
  min-height: 500px;
}


/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  width: 60%;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}




