<div class="example-container mat-elevation-z8">

  <mat-tab-group>

    <!-- VEREINE ANMELDEN %%%%%
     %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <mat-tab label="Vereine anlegen">

      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filterClub placeholder="suche...">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSourceClub" matSort>

        <ng-container>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="clubname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vereinsname</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.clubname}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Stadt</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.city}}</mat-cell>
          </ng-container>

          <!-- Action Menu -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="onCreateClubClick()">
                <mat-icon aria-label="Add">add</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsClub"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsClub;"></mat-row>


      </mat-table>

      <mat-paginator #paginatorClub
                     [length]="dataSourceClub.filteredData.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

      <div>
        <button mat-raised-button color="primary" (click)="onLoadClick()">Aktualisieren</button>
      </div>

    </mat-tab>

    <!-- ZÜCHTER ANMELDEN %%%%%
     %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <mat-tab label="Züchter anlegen">

      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filterBreeder placeholder="suche...">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSourceBreeder" matSort>

        <ng-container>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="breederfirstname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vorname</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstname}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="breederlastname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nachname</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastname}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="kennelname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Zwingername</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.kennelname}}</mat-cell>
          </ng-container>


          <!-- Action Menu -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="onCreateBreederClick()">
                <mat-icon aria-label="Add">add</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsBreeder"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsBreeder;"></mat-row>


      </mat-table>

      <mat-paginator #paginatorBreeder
                     [length]="dataSourceBreeder.filteredData.length"
      [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

      <div>
        <button mat-raised-button color="primary" (click)="onLoadClick()">Aktualisieren</button>
      </div>

    </mat-tab>
    <!-- BESITZER ANMELDEN %%%%%
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
     %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <mat-tab label="Besitzer anlegen">

      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filterOwner placeholder="suche...">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSourceOwner" matSort>

        <ng-container>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="ownerfirstname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Vorname</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstname}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="ownerlastname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nachname</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastname}}</mat-cell>
          </ng-container>

          <!-- Action Menu -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="onCreateOwnerClick()">
                <mat-icon aria-label="Add">add</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsOwner"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsOwner;"></mat-row>


      </mat-table>

      <mat-paginator #paginatorOwner
                     [length]="dataSourceOwner.filteredData.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

      <div>
        <button mat-raised-button color="primary" (click)="onLoadClick()">Aktualisieren</button>
      </div>

    </mat-tab>

    <!-- HUNDE ANMELDEN %%%%%
     %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
      %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <mat-tab label="Hunde anlegen">

      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filter placeholder="suche...">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Hundename</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="owner">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Besitzer</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.owner.firstname ++ ' ' ++ element.owner.lastname}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="breeder">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Züchter</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.breeder.firstname ++ ' ' ++ element.breeder.lastname}}</mat-cell>
          </ng-container>


          <!-- Action Menu -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="onCreateDogClick()">
                <mat-icon aria-label="Add">add</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


      </mat-table>

      <mat-paginator #paginator
                     [length]="dataSource.filteredData.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

      <div>
        <button mat-raised-button color="primary" (click)="onLoadClick()">Aktualisieren</button>
      </div>

    </mat-tab>
    <!-- VERANSTALTUNGEN ANLEGEN %%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <mat-tab label="Veranstaltungen anlegen">

      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filterTournament placeholder="suche...">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSourceTournament" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Veranstaltungsname</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="club">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Verein</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.club.clubname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Datum</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date | date:'MMMM dd, yyyy'}}</mat-cell>
        </ng-container>


        <!-- Action Menu -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="onCreateTournamentClick()">
              <mat-icon aria-label="Add">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef=" displayedColumsTournament"></mat-header-row>
        <mat-row *matRowDef="let row; columns:  displayedColumsTournament;"></mat-row>


      </mat-table>

      <mat-paginator #paginatorTournament
                     [length]="dataSourceTournament.filteredData.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

      <div>
        <button mat-raised-button color="primary" (click)="onLoadClick()">Aktualisieren</button>
      </div>

    </mat-tab>
    <!-- TURNIERWERTUNGEN ANLEGEN %%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

    <mat-tab label="Turnierwertungen eintragen">

      <mat-horizontal-stepper [linear]=true>
        <mat-step>
          <form [formGroup]="secondFormGroup" class="content">
            <ng-template matStepLabel>Veranstaltung auswählen</ng-template>


            <div class="form-group">
              <label>Veranstaltungen</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="selected"
                      style="height: auto;text-align: center;">
                <option *ngFor='let tournament of tournaments | async' [value]="tournament.id">
                  {{tournament.title}}
                </option>
              </select>
            </div>
            <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->

            <div>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>


        </mat-step>
        <mat-step class="content">
          <ng-template matStepLabel>Punkte vergeben</ng-template>
          <div class="content">
            <mat-table #table [dataSource]="dataSource" matSort>

              <ng-container>

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Hundename</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="owner">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Besitzer</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.owner.firstname ++ ' ' ++ element.owner.lastname}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="breeder">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Züchter</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.breeder.firstname ++ ' ' ++ element.breeder.lastname}}</mat-cell>
                </ng-container>


                <!-- Action Menu -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef> Wertungen</mat-header-cell>
                  <mat-cell *matCellDef="let element">

                    <button mat-icon-button color="primary">
                      <mat-icon>edit</mat-icon>
                    </button>

                  </mat-cell>
                </ng-container>

              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


            </mat-table>
          <!--  {{selected}} -->

          </div>

        </mat-step>
      </mat-horizontal-stepper>
    </mat-tab>

  </mat-tab-group>


</div>


