

<div class="example-container mat-elevation-z8">

  <mat-tab-group #tabGroup color="primary" (selectedTabChange)="onTabSwitch($event)">

    <!-- VEREINE  -->

    <mat-tab label="Vereine">

      <app-club-crud-table *ngIf="tabGroup.selectedIndex === 0"></app-club-crud-table>

    </mat-tab>

    <!-- RICHTER  -->
    <mat-tab label="Richter">

      <app-judge-crud-table *ngIf="tabGroup.selectedIndex === 1"></app-judge-crud-table>

    </mat-tab>

    <!-- ZÜCHTER  -->
    <mat-tab label="Zwinger">

      <app-breeder-crud-table *ngIf="tabGroup.selectedIndex === 2"></app-breeder-crud-table>

    </mat-tab>

    <!-- HUNDE   -->
    <mat-tab label="Hunde">

      <app-dog-crud-table *ngIf="tabGroup.selectedIndex === 3"></app-dog-crud-table>

    </mat-tab>

    <!-- BESITZER ANMELDEN -->
    <mat-tab label="Besitzer">

      <app-owner-crud-table *ngIf="tabGroup.selectedIndex === 4"></app-owner-crud-table>

    </mat-tab>




    <!-- VERANSTALTUNGEN ANLEGEN %%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <mat-tab label="Veranstaltungen">

      <app-tournament-crud-table *ngIf="tabGroup.selectedIndex === 5"></app-tournament-crud-table>

    </mat-tab>


<!--

    <mat-tab label="Veranstaltungen verwalten">


      <app-manage-tournaments *ngIf="tabGroup.selectedIndex === 6"></app-manage-tournaments>

    </mat-tab>


    <mat-tab label="Wertungen eintragen">

      <app-manage-tournament-evaluations *ngIf="tabGroup.selectedIndex === 7"></app-manage-tournament-evaluations>

    </mat-tab>
-->
  </mat-tab-group>


</div>


