/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  min-height: 500px;
}

.content{
  overflow: auto;
  max-height: 500px;
  min-height: 500px;
}
