/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mat-table {
  overflow: auto;
  /* min-height: 500px;*/
  min-height: 100vh;
  text-align: center;
  display: inline-block;
}
