<nav class="nav-race">
  <div class="nav nav-tabs" id="nav-tab-race" role="tablist">

    <a class="nav-item nav-link" id="afghane" data-toggle="tab" href="#nav-home" role="tab">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="azawakh" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="barsoi" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="chart-polski" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="deerhound" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="galgo" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="greyhound" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="irish_wolfshound" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="it_windspiel" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="magyar" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="saluki" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link disabled" id="windsprite" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link" id="sloughi" data-toggle="tab" href="#nav-home" role="tab">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImg" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" [src]="whippetImgColored" (mouseover)="hover($event)"
           (mouseout)="unhover($event)">
    </a>

  </div>
</nav>

<nav class="nav-tournament-type">
  <div class="nav nav-tabs" id="nav-tab-tournament-type" role="tablist">

    <a class="nav-item nav-link active" id="international_rüde" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      International Rüde
    </a>
    <a class="nav-item nav-link" id="international_hündin" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      International Hündin
    </a>
    <a class="nav-item nav-link" id="internationale_klasse" data-toggle="tab" href="#nav-home" role="tab"
       aria-controls="nav-home" aria-selected="true">
      Nationale Klasse
    </a>



  </div>
</nav>




<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSourceCoursing" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->



    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total%</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalratings}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Platz</mat-header-cell>
      <mat-cell *matCellDef="let element"> ToDo</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dogname}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="besitzer">
      <mat-header-cell *matHeaderCellDef> Besitzer</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ownername}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gesamtteilnahme">
      <mat-header-cell *matHeaderCellDef> Gesamtteilnahme</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalParticipations}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="inwertung">
      <mat-header-cell *matHeaderCellDef> In Wertung</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.maxNoRatings}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginatorCoursing
                 [length]="dataSourceCoursing.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>

