<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total%</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.total}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Platz</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="besitzer">
      <mat-header-cell *matHeaderCellDef> Besitzer</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.besitzer}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gesamtteilnahme">
      <mat-header-cell *matHeaderCellDef> Gesamtteilnahme</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gesamtteilnahme}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="inwertung">
      <mat-header-cell *matHeaderCellDef> In Wertung</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.inwertung}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>

