/* Structure */
.example-container {
  margin: auto; /* Den Container zusätzlich zentrieren */

  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-height: 100%;
  overflow: auto;


}




.nav-tabs > a {
}

.nav-tabs{
  background-color:grey;
  text-align: center;
}

.nav-tabs > li > a{
  border: medium none;
}


.nav-tabs > li > a:hover{
  background-color: #303136 !important;
  border: medium none;
  border-radius: 0;
  color:white;
}


.nav-race {
  width: 100%;
  margin-top: 62px;

}

.nav-tournament-type {
  width: 100%;
  margin-top: 1px;

}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
}

.mat-table {
 /* min-height: 500px;*/
  /*min-height: 100vh;*/
  text-align: center;
  display: inline-block;
}

select {
// -moz-appearance: none;
// -webkit-appearance: none;
//appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background: url(/src/assets/img/562A17-0.8.png) repeat-x;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
select option {
  color: #666;
}
select:focus::-ms-value {
  background-color: transparent;
}


/*.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #3f51b5;
  height:30%;
  text-align: center;
  width: 100%;

}*/
