<nav class="nav-race">
  <div class="nav nav-tabs" id="nav-tab-race" role="tablist">

    <a class="nav-item nav-link disabled" id="afghanischer-windhund" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" src="assets/img/afghanischer-windhund.jpg">
      <figcaption>Afghane</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="azawakh" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px; max-height: 70px; min-height: 70px;" src="assets/img/azawakh.jpg">
      <figcaption>Azawakh</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="barsoi" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/barsoi.jpg">
      <figcaption>Barsoi</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="chart-polski" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/chart-polski.jpg">
      <figcaption>Chart Polski</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="deerhound" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/deerhound.jpg">
      <figcaption>Deerhound</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="galgo" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/galgo.jpg">
      <figcaption>Galgo Español</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="greyhound" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/greyhound.jpg">
      <figcaption>Greyhound</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="irish_wolfshound" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/Irish_wolfhound.JPG">
      <figcaption>Ir. Wolfshund</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="magyar" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/magyar_agar.JPG">
      <figcaption>Magyar Agar</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="saluki" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/Saluki.jpg">
      <figcaption>Saluki</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="windsprite" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/silken_windsprite.jpg">
      <figcaption>S. Windsprite</figcaption>
    </a>

    <a class="nav-item nav-link disabled" id="sloughi" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/sloughi.jpg">
      <figcaption>Sloughi</figcaption>
    </a>

    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      <img style="max-width:70px;max-height: 70px; min-height: 70px;" src="assets/img/whippet.jpg">
      <figcaption>Whippet</figcaption>
    </a>

  </div>
</nav>

<nav class="nav-tournament-type">
  <div class="nav nav-tabs" id="nav-tab-tournament-type" role="tablist">

    <a class="nav-item nav-link active" id="international_rüde" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
    International Rüde
    </a>
    <a class="nav-item nav-link" id="international_hündin" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      International Hündin
    </a>
    <a class="nav-item nav-link" id="internationale_klasse" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      Internationale Klasse
    </a>

  </div>
</nav>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Platz</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="besitzer">
      <mat-header-cell *matHeaderCellDef> Besitzer</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.besitzer}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rennengesamt">
      <mat-header-cell *matHeaderCellDef> Rennen gesamt</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rennengesamt}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rennengewertet">
      <mat-header-cell *matHeaderCellDef> Rennen gewertet</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rennengewertet}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="punkte">
      <mat-header-cell *matHeaderCellDef> Punkte - 5 beste Rennen</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.punkte}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>



