<div class="container">
  <h3 mat-dialog-title>Hund anlegen</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required >
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Passnummer" [(ngModel)]="data.passport_no" name="passport_no" required >
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Rasse" [(ngModel)]="data.race" name="race" required >
      </mat-form-field>
    </div>

    <div class="form">
      <label for="sex"> Geschlecht</label>
      <select matInput #input class="form-control" id="sex" required  [(ngModel)]="data.sex" name="sex" style="height: auto;">
        <option *ngFor="let sex of sex" [ngValue]="sex">{{sex}}</option>
      </select>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Chipnummer" [(ngModel)]="data.chip_no" name="chip_no" required >
      </mat-form-field>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Fellfarbe" [(ngModel)]="data.coat_colour" name="coat_colour" required >
      </mat-form-field>
    </div>


    <div class="form">
      <label for="breeder"> Züchter</label>
      <select matInput #input class="form-control" placeholder="Züchter" id="breeder" required  [(ngModel)]="data.breeder" name="breeder" style="height: auto;">
        <option *ngFor="let breeder of breeders" [ngValue]="breeder">{{breeder.firstname + " " + breeder.lastname}}</option>
      </select>
    </div>

    <div class="form">
      <label for="owner"> Besitzer</label>
      <select matInput #input class="form-control" placeholder="Besitzer" id="owner" required  [(ngModel)]="data.owner" name="owner" style="height: auto;">
        <option *ngFor="let owner of owners" [ngValue]="owner">{{owner.firstname + " " + owner.lastname}}</option>
      </select>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type="date" matInput [matDatepicker]="myDatepicker" #inputstate class="form-control" placeholder="Wurfdatum" [(ngModel)]="data.date_of_birth" name="date_of_birth" required >
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>




    <div mat-dialog-actions align="end">
      <button mat-button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
      <button mat-button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
    </div>
  </form>
</div>
