<mat-horizontal-stepper (selectionChange)="stepperSelectionChange($event)" [linear]="true">

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Veranstaltungen</ng-template>
      <label> Veranstaltung auswählen</label>
      <select matInput formControlName="firstCtrl" class="form-control" name="selectedtournaments2"
              [(ngModel)]="selected" style="height: auto;text-align: center;" required>
        <option *ngFor='let tournament of tournaments | async' [ngValue]="tournament">
          {{tournament.title}}
        </option>
      </select>
      <!--     //<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step class="content">
    <ng-template matStepLabel>Richter zuordnen</ng-template>

    <div class="row">

      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Alle Richter</h5>
          <div class="card-body" droppable (onDrop)="onAllJudgesDrop($event)">
            <li draggable *ngFor="let item of list_all_judges | customjudgefilter:filterJudge" [dragData]="item" class="list-group-item">
              {{item.firstname + ' ' + item.lastname}}
            </li>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Teilnehmende Richter</h5>
          <div class="card-body" droppable (onDrop)="onParticipatingJudgesDrop($event)">
            <li draggable *ngFor="let item of list_participating_judges | customjudgefilter:filterJudge" [dragData]="item"
                class="list-group-item">{{item.firstname + ' ' + item.lastname}}
            </li>
          </div>
        </div>
      </div>


    </div>


  </mat-step>


  <mat-step class="content">


    <ng-template matStepLabel>Hunde zuordnen</ng-template>


    <div class="row">

      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Alle Hunde</h5>
          <div class="card-body" droppable (onDrop)="onAllDogsDrop($event)" >
            <li [draggable] *ngFor="let item of list_all_dogs | customdogfilter:filterDog" [dragData]="item" class="list-group-item" (onDragStart)="dragStart('alldogs')">
              {{item.name}}
            </li>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Internationale Klasse</h5>
          <div class="card-body" droppable (onDrop)="onInternationalClassDrop($event)">
            <li draggable *ngFor="let item of list_international_class | customdogfilter:filterDog" [dragData]="item" class="list-group-item" (onDragStart)="dragStart('international')">
              {{item.name}}
            </li>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <h5 class="card-header">Nationale Klasse</h5>
          <div class="card-body" droppable (onDrop)="onNationalClassDrop($event)">
            <li draggable *ngFor="let item of list_national_class | customdogfilter:filterDog" [dragData]="item" class="list-group-item" (onDragStart)="dragStart('national')">
              {{item.name}}
            </li>
          </div>
        </div>
      </div>


    </div>


  </mat-step>
</mat-horizontal-stepper>
