<mat-horizontal-stepper (selectionChange)="stepperSelectionChange($event)" [linear]="true">

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Veranstaltungen</ng-template>
      <label> Veranstaltung auswählen</label>
      <select matInput formControlName="firstCtrl" class="form-control" name="selectedtournaments2"
              [(ngModel)]="selected" style="height: auto;text-align: center;" required>
        <option *ngFor='let tournament of tournaments | async' [ngValue]="tournament">
          {{tournament.title + ' (' + datetostring(tournament.date) + ')'}}
        </option>
      </select>
      <!--     //<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step class="content">
    <ng-template matStepLabel>Richter zuordnen</ng-template>

    <div class="card">
      <h5 class="card-header">{{selected != null ? selected.title + ' ' + datetostring(selected.date) : '-'}}</h5>
      <div class="card-body">

        <div class="row">

          <div class="col-sm-3">
            <div class="card">
              <h5 class="card-header">Alle Richter</h5>
              <div class="card-body" droppable (onDrop)="onAllJudgesDrop($event)">
                <li draggable *ngFor="let item of list_all_judges | customjudgefilter:filterJudge" [dragData]="item"
                    class="list-group-item">
                  {{item.firstname + ' ' + item.lastname}}
                </li>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="card">
              <h5 class="card-header">Teilnehmende Richter</h5>
              <div class="card-body" droppable (onDrop)="onParticipatingJudgesDrop($event)">
                <li draggable *ngFor="let item of list_participating_judges | customjudgefilter:filterJudge"
                    [dragData]="item"
                    class="list-group-item">{{item.firstname + ' ' + item.lastname}}
                </li>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </mat-step>


  <mat-step class="content">


    <ng-template matStepLabel>Hunde zuordnen</ng-template>

    <app-set-up-coursing *ngIf="selected != null && selected.tournamenttype == 'Coursing'"
                         [selectedTournament]="selected" [currentStepperIndex]="stepperIndex"></app-set-up-coursing>

    <app-set-up-race *ngIf="selected != null && selected.tournamenttype == 'Rennen'"
                     [selectedTournament]="selected" [currentStepperIndex]="stepperIndex"></app-set-up-race>

  </mat-step>
</mat-horizontal-stepper>
